<div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"></div>
<div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate">
    <a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default" id="pagination_first">
        First
    </a>
    <a tabindex="0" class="previous fg-button ui-button ui-state-default" id="pagination_previous">
        Previous
    </a>
    <a tabindex="0" class="next fg-button ui-button ui-state-default" id="pagination_next">
        Next
    </a>
    <a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" id="pagination_last">
        Last
    </a>
</div>