
@{
    Layout = null;
    ViewBag.Title = "CustomerReportPDF";
    WebGrid grid = new WebGrid(source: Model, canSort: false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #gridT, #gridT tr {
            border: 1px solid #0D857B;
        }

        #nestedT, #nestedT tr {
            border: 1px solid #f3f3f3;
        }

        #nestedT {
            margin: 0px 0px 0px 10px;
            padding: 5px;
            width: 95%;
        }

            #nestedT th {
                font-size: 14px;
                font-weight: bold;
                background-color: green;
            }

        .recordHoverEffect {
            cursor: pointer;
        }

            .recordHoverEffect:hover {
                background-color: rgb(248, 242, 242);
            }

        .expandRecordRecord {
            background-image: url(/Images/ShowHideImage.png);
            background-position-x: -22px;
            background-repeat: no-repeat;
        }

        .collapseRecordRecord {
            background-image: url(/Images/ShowHideImage.png);
            background-position-x: -2px;
            background-repeat: no-repeat;
        }
    </style>
    @section Scripts{
        <script>
            $(document).ready(function () {
                var size = $("#main #gridT > thead > tr > th").size();
                $("#main #gridT > thead > tr > th").last().remove();
                $("#main #gridT > thead > tr").prepend("<th></th>");
                $("#main #gridT > thead > tr").each(function (i, el) {
                    $(this).prepend(
                        $("<td></td>")
                            .addClass("expand")
                            .addClass("hoverEff")
                            .attr('title', 'click for show/hide')
                    );

                    // now get sub table
                    var table = $("table", this).parent.html();
                    $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
                    $("table", this).parent().remove();
                    $(".hoverEff", this).live("click", function () {
                        $(this).parent().closet("tr").next().slideToggle(1000);
                        $(this).toggleClass("expand collapse");
                    });

                });
                $("#main #gridT > tbody > tr td.expand").each(function (i, el) {
                    $(this).toggleClass("expand collapse");
                    $(this).parent().closet("tr").next().slideToggle(1000);
                });
            });
        </script>
    }
</head>
<body>

    <div id="main" style="padding: 25px; background-color: yellow;">
        @grid.GetHtml(
                    htmlAttributes: new { id = "gridT", width = "900px", style = "background-color:skyblue; color:blue; font-size:14pt; font-family:TimesNewRoman;" },
                    columns: grid.Columns(
                            grid.Column("_DailyFollowup.ID", "ID"),
                            grid.Column("_DailyFollowup.Customer_Name", "Customer_Name"),
                            grid.Column("_DailyFollowup.Address", "Address"),

                            grid.Column(format: (item) =>
                            {
                                WebGrid subGrid = new WebGrid(source: item._DailyVM);
                                return subGrid.GetHtml(
                                    htmlAttributes: new { id = "nestedT", style = "background-color:red; color:white; font-size:12pt; font-family:verdana;" },
                                    columns: subGrid.Columns(
                                            subGrid.Column("ID", "ID"),
                                            subGrid.Column("Customer_Name", "Name"),
                                            subGrid.Column("Address", "Address"),
                                            subGrid.Column("Email_ID", "Email_ID"),
                                            subGrid.Column("Requirement", "Requirement")

                                        )
                                    );
                            })
                        )
                    )
    </div>
</body>
</html>
