
@{
    ViewBag.Title = "DailyReport";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Index", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("DailyReport", "Home")'>Daily Report</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Daily Enquiry Report</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("DailyEnquiryPDF","Home")" target="_blank" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">

                                    <td><label class="control-label">Start Date</label></td>
                                    <td><input type="date" name="enqStartDate" id="enqStartDate" value="1967-01-01"></td>
                                    <td><label class="control-label">End Date</label></td>
                                    <td><input type="date" name="enqEndDate" id="enqEndDate" value="1967-01-01"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Customer Name</label></td>
                                    <td><input type="text" name="enqName" id="required"></td>

                                    <td><label class="control-label">Site</label></td>
                                    <td>
                                        <select name="enqsite" id="enqSite">    </select>
                                    </td>                                                               
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Requirement</label></td>
                                    <td>
                                        <select name="enqRequirement" id="required">
                                            <option value="1RK" selected="selected">1RK</option>
                                            <option value="1BHK">1BHK</option>
                                            <option value="2BHK">2BHK</option>
                                            <option value="3BHK">3BHK</option>
                                            <option value="Plot">Plot</option>
                                            <option value="Shop">Shop</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>
                                    <td><label class="control-label">Occupation</label></td>
                                    <td>
                                        <select name="enqOccu" id="required">
                                            <option value="Salaried" selected="selected">Salaried</option>
                                            <option value="Business">Business</option>
                                            <option value="Pensioner">Pensioner</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Visit</label></td>
                                    <td>
                                        <select name="enqVisit" id="required">
                                            <option value="Visited">Visited</option>
                                            <option value="Enquiry">Enquiry</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>
                                    <td><label class="control-label">Current Status</label></td>
                                    <td>
                                        <select name="enqCurrentStatus">
                                            <option value="Interested" selected="selected">Interested</option>
                                            <option value="NotInterested">Not Interested</option>
                                            <option value="InProcess">In Process</option>
                                            <option value="Booked">Booked</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Budget</label></td>
                                    <td><input type="number" name="enqBudget" value="0.0"></td>
                                    <td><label class="control-label">Down Payment</label></td>
                                    <td><input type="number" name="enqDown" value="0.0"></td>                                    
                                </tr>
                                <tr>
                                    <td><label class="control-label">Mobile No</label></td>
                                    <td><input type="number" name="enqMob"></td>
                                    <td><input type="submit" value="Generate Report" class="btn btn-success" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>


