@model IEnumerable<kd.Models.Enquiry>
    @{
        Layout = null;
        ViewBag.Title = "Daily Enquiry PDF";
        WebGrid grid = new WebGrid(source: Model, canSort: false);
    }

    <style>
    </style>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/matrix-media.css" />
    <link rel="stylesheet" href="~/Content/uniform.css" />
    <link rel="stylesheet" href="~/Content/select2.css" />
    <link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    
    <div id="main" style="padding:25px;background-color:white">
        @grid.GetHtml(
         htmlAttributes: new { id = "gridT", width = "700px" },
         columns: grid.Columns(
             grid.Column("_DailyFollowup.ID", "Daily FollowupId"),
             grid.Column("_DailyFollowup.Customer_Name", "Customer Name"),
             grid.Column("_DailyFollowup.Address", "Customer Address"),

             grid.Column(format: (item) => {
             WebGrid subGrid = new WebGrid(source: item._DailyVM);
             return subGrid.GetHtml(
                 htmlAttributes: new {id="subT" },
                 columns: subGrid.Columns(
                                            subGrid.Column("ID", "ID"),
                                            subGrid.Column("Customer_Name", "Name"),
                                            subGrid.Column("Address", "Address"),
                                            subGrid.Column("Email_ID", "Email_ID"),
                                            subGrid.Column("Requirement", "Requirement")
                        )
                     );
                })

            )
         );
     </div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var size = $("#main #gridT > thead > tr > th").size();
            $("#main #gridT > thead > tr > th").last().remove();
            $("#main #gridT > thead > tr").prepend("<th></th>");
            $("#main #gridT > thead > tr").each(function (i, el) {
                $(this).prepend(
                    $("<td></td>")
                        .addClass("expand")
                        .addClass("hoverEff")
                        .attr('title','click for show/hide')
                );

                // now get sub table
                var table = $("table", this).parent.html();
                $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
                $("table", this).parent().remove();
                $(".hoverEff", this).live("click", function () {
                    $(this).parent().closet("tr").next().slideToggle(1000);
                    $(this).toggleClass("expand collapse");
                });

            });
            $("#main #gridT > tbody > tr td.expand").each(function (i, el) {
                $(this).toggleClass("expand collapse");
                $(this).parent().closet("tr").next().slideToggle(1000);
            });
        });
    </script>
    }
    

