
@{
    ViewBag.Title = "FinanceReport";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("FinanceReport", "Home")'>Finance Report</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Finance Report</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("FinanceReportPDF","Home")" target="_blank" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">

                                    <td><label class="control-label">From Date</label></td>
                                    <td><input type="date" name="financeReortFromDate" id="required"></td>
                                    <td><label class="control-label">To Date</label></td>
                                    <td><input type="number" name="financeReportToDate" id="required"></td>
                                    <td>
                                        <select name="financeReportFileStatus" id="required">
                                            <option value="Process" selected="selected">Process</option>
                                            <option value="Login">Login</option>
                                            <option value="Sanction">Saction</option>
                                            <option value="Disbus">Disbus</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><input type="radio" name="radios" /><label class="control-label">All Site</label><input type="radio" name="radios" /></td>
                                    <td><input type="radio" name="financeReportSite" value="allsite" id="required" checked></td>
                                    <td><input type="radio" name="financeReportSite" value="sitenamewise" id="required">
                                        <label class="control-label">Site Namewise</label></td>
                                    <td>
                                        <select name="financeReportSitewise" id="required">
                                            <option value="Process" selected="selected">Process</option>
                                            <option value="Login">Login</option>
                                            <option value="Sanction">Saction</option>
                                            <option value="Disbus">Disbus</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>                                    
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">All Finance</label></td>
                                    <td><input type="radio" name="financeReportAllFinance" id="required"></td>
                                    <td><label class="control-label">Finance Namewise</label></td>
                                    <td>
                                        <select name="financeReportFinanceewise" id="required">
                                            <option value="Process" selected="selected">Process</option>
                                            <option value="Login">Login</option>
                                            <option value="Sanction">Saction</option>
                                            <option value="Disbus">Disbus</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<!--<script src="~/Scripts/jquery.dataTables.min.js"></script> -->
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>
