@{
    ViewBag.Title = "PaymentDetails";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("PaymentDetails", "Home")'>Add Payment Details</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Add Payment Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_paymentdetails","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Amount</label></td>
                                    <td><input type="text" name="pamt" id="required"></td>
                                    <td><label class="control-label">Date</label></td>
                                    <td> <input type="text" name="pdate" id="required"></td>
                                    <td><label class="control-label">Payment Mode</label></td>
                                    <td><input type="text" name="pmode" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Cheque ID</label></td>
                                    <td><input type="text" name="chkid" id="required"></td>
                                    <td><label class="control-label">Cheque Date</label></td>
                                    <td> <input type="text" name="chkdate" id="required"></td>
                                    <td><label class="control-label">Bank Name</label></td>
                                    <td><input type="text" name="bname" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Payment Type</label></td>
                                    <td><input type="text" name="ptype" id="required"></td>
                                    <td><label class="control-label">Builder Pay</label></td>
                                    <td> <input type="text" name="bldpay" id="required"></td>
                                    <td><label class="control-label">Bank Pay</label></td>
                                    <td><input type="text" name="bnkpay" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Status</label></td>
                                    <td><input type="text" name="sts" id="required"></td>
                                    <td><label class="control-label">Booking No</label></td>
                                    <td> <textarea class="span11"></textarea></td>
                                    <td></td>
                                    <td><input type="submit" value="Save" class="btn btn-success" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>All Payment Details</h5> <span style="float:right"><button class="btn btn-danger">Multiple Delete</button></span>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table with-check">
                        <thead>
                            <tr>
                                <th>Commit Type</th>
                                <th>Payment Mode</th>
                                <th>Cheque ID</th>
                                <th>Bank Name</th>
                                <th>Builder Pay</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeX">
                                <td><input type="checkbox" /></td>
                                <td>Trident</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td class="center">4</td>
                                <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                            </tr>
                            <tr class="gradeC">
                                <td><input type="checkbox" /></td>
                                <td>Trident</td>
                                <td>
                                    Internet
                                    Explorer 5.0
                                </td>
                                <td>Win 95+</td>
                                <td class="center">5</td>
                                <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                            </tr>
                            <tr class="gradeA">
                                <td><input type="checkbox" /></td>
                                <td>Trident</td>
                                <td>
                                    Internet
                                    Explorer 5.5
                                </td>
                                <td>Win 95+</td>
                                <td class="center">5.5</td>
                                <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

